<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="selectMemberById">
        SELECT * FROM Members WHERE MEMBER_CODE = ?
    </entry>
    <entry key="selectAllMembers">
        SELECT * FROM Members
    </entry>
    <entry key="insertMember">
        INSERT INTO Members (MEMBER_CODE, MEMBER_NAME, LAUNCH_DATE, DIVISION_CODE, DETAIL_INFO, STUDENT_QUANTITY, CONTACT, TEAM_CODE, ACTIVE_STATUS)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    </entry>
    <entry key="updateMember">
        UPDATE Members
        SET MEMBER_NAME = ?, LAUNCH_DATE = ?, DIVISION_CODE = ?, DETAIL_INFO = ?, STUDENT_QUANTITY = ?, CONTACT = ?, TEAM_CODE = ?, ACTIVE_STATUS = ?
        WHERE MEMBER_CODE = ?
    </entry>
    <entry key="deleteMember">
        DELETE FROM Members WHERE MEMBER_CODE = ?
    </entry>
</properties>
